$headerHeight: 50px;
$headerBackgroundColor: transparent;
$headerHoverBackgroundColor: #333;
$headerColor: #efefef;

header {
  height: $headerHeight;
  width: 100%;
  background: $headerBackgroundColor;
  color: $headerColor;
  position: fixed;
  top: 0;
  z-index: 2;

  div {
    float: left;
    height: inherit;
    line-height: $headerHeight;
  }

  .logo {
    margin-left: 15px;

    a {
      padding: 0 5px;
      display: inline-block;
      height: inherit;
      color: $headerColor;
      text-decoration: none;

      &:hover {
        background-color: $headerHoverBackgroundColor;
      }

      &::before {
        background-image: url('../../images/Lifewrite.png');
        background-size: $headerHeight;
        display: inline-block;
        width: $headerHeight;
        height: $headerHeight;
        content:"";
        vertical-align: middle;
      }
    }
  }

  .status {
    float: right;
    margin-right: 20px;

    select {
      background-color: inherit;
      border: none;
      cursor: pointer;
    }
  }
}
