@import "../../App";

$headerHeight: 50px;
$headerBackgroundColor: #222;

header {
  height: $headerHeight;
  background: $headerBackgroundColor;
  color: #efefef;

  img {
    height: inherit;
  }

  div {
    float: left;
    height: inherit;
    line-height: $headerHeight;
  }

  .status {
    float: right;

    select {
      background-color: inherit;
      border: none;
    }
  }
}
